<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-lg">
      
      <div class="navbar-brand d-flex pt-0 flex-column">
        <a href="/" class="nav-headline">{{ site.navigation_title }}</a>
        <a href="/" class="nav-subline">{{ site.navigation_subtitle }}</a>
      </div>
        
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto my-2 my-lg-0">
          {% for navitem in site.data.navigation %}
            <li class="nav-item">
              <a class="nav-link {% if page.url == navitem.url %}active{% endif %}" href="{{ navitem.url }}">{{ navitem.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>